.card{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
    padding: 3%;
}

.cardDelete{
    display: flex;

}