.parent{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: scroll;   
    
}
.parent::-webkit-scrollbar {
    display: none;
  }
.list{
    display: flex;
    justify-content: space-between;
    min-width: 20%;
    padding: 5%;  
}

.parentList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: auto;
    background-color: rgba(110, 112, 109, 0.603);
    border-radius: 5px;
    padding: 1%;
}
.addCard{
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}