.parentContFirst{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.parentContFirst :hover{
    background-color: gray;
}

.parentContSecond{
    display: inline;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    gap: 30px;
}

.parent{
    display: flex;;
    justify-content: space-between;
}