.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    min-width: 300px;
    max-width: 400px;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* body{
    background-image: url("https://wallpapercosmos.com/w/full/8/d/7/1209987-3840x2160-desktop-4k-glow-in-the-dark-background-image.jpg");
  } */