.sidenav{
    width: 250px;
    height: 100vh;
    margin-left: 0;
    background-color: rgb(89, 109, 62)
}
/* .navwrap{
    background-color: #de2626;
} */

hr{
    margin-bottom: 20px;
    /* width: 80%; */
}
.icons{
    display: flex;
    /* margin-top: 20px; */
    /* justify-content: space-between; */
    padding: 5px;
    margin: 2px 19px ;
    color: white;
    /* background-color: #e365af; */
}
.icons:hover{
    cursor: pointer;
    background-color: gray;
}
 svg{
    /* padding: 10px; */
    margin: 3px 10px;
    /* background-color: #e365af; */
}
.heading{
    padding: 10px;
    background-color: rgb(60, 82, 30)
}