.maincontainer{
    display: flex;
    gap: 1rem;
}
.mainbtn{
    margin-left: 16rem;
    margin-top: 2rem;
    height: 1.6rem;
    border: none;
    cursor: pointer;
    background-color: #091e420a;
    font-weight: 400;
}
.mainbtn:hover{
    background-color: lightgrey;
}