.maincontainer{
    display: flex;
    gap: 1rem;
}
.mainbtn{
    margin-left: 22rem;
    margin-top: 2rem;
    height: 1.6rem;
    border: none;
    cursor: pointer;
    background-color: #091e420a;
    font-weight: 400;
    width: 5rem;
}
.mainbtn:hover{
    background-color: lightgrey;
}
.commentinput{
    width:80%;
height: 1rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding:0.6rem;
   margin-left: 1rem;
   
}
.activity{
    font-size: 1.5rem;
    margin-top: 1.8rem;
}
.commentdata{
    display: flex;
    margin-left: 1rem;
    height:4.5vh
}
.save{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    border: none;
    height: 1.5rem;
    width: 4rem;
    background-color: #0079bf;
    color: white;
    cursor:pointer;
}
.save:hover{
    background-color: #025a8e;
}
.commentinputs{
    border: none;
    background-color: #0000003d;
    width:80%;
    height: 1rem;

        border: none;
        border-radius: 5px;
      padding: 0.5rem;
      margin-left: 2.4rem;
}
.delete{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: none;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    text-decoration: underline;
}
.delete:hover{
background-color: lightgrey;
}
.comments{
    width:80%;
    height: 1rem;
        background-color: white;
        border: none;
        border-radius: 5px;
        padding:0.6rem;
        margin-left: 1rem;
        background-color: #0000003d;
        margin-bottom: 1.5rem;
}
.time{
    margin-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.buttons{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
}
.edit{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    border: none;
    height: 1.5rem;
    width: 5rem;
    background-color: #0079bf;
    color: white;
   cursor: pointer;
}
.edit:hover{
    background-color: #025a8e;
}