*body{
    background-color: black;
}


.input{
    width: 26rem;
    margin-left: 1px;
    font-size: 1.3rem;
    border: none ;
    background: #0000;
    

}
input:focus{
    border: 2px solid blue;
}
.titlepara{
    margin-left: 2.8rem;
    margin-top: 2px;
    display: flex;
flex-direction: row;
}
.title{
    display: flex;
    margin-top: -2rem;
}